* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    text-decoration: none;

}
div{
    background-color: blueviolet;
    text-decoration: dotted;
    text-align: center;
    color: aquamarine;
    color-scheme: initial;
    height: 90px;
}
#para {
    padding: 70px;
    text-align: justify;
    background-color: rgb(133, 116, 150);
    color: blue;
    color-scheme: initial;
}
.para_1 {
    padding:40px 180px;
    background-color: cornflowerblue;
    color: blueviolet;
    text-align: justify;
    height: 100px;
}