* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html { 
    scroll-behavior: smooth;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

a {
    text-decoration: none;
}

.head {
    background-color: #AA60C8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}
.logo > img {
    width: 90px;
    height: 90px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.profile > img {
    width: 7opx;
    height: 70px;
}

.container{
    display: flex;
}

.sidebar{
    width:220px;
    height:100vh;
    background-color: #EABDE6;
    color:white;
    padding:20px;
}

.sidebar h2{
    text-align:center;
    margin-bottom:25px;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    margin:15px 0;
}

.sidebar ul li a{
    text-decoration:none;
    color:white;
    display:block;
    padding:10px;
    border-radius:5px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 250px;
    background-color: #FFDFEF; 
    width: 100vw;
    height: 100vh;   
}